<div class="card">

  <% unless devise_error_messages!.blank? %>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <%= devise_error_messages! %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div class="row">  

    <div class="col-6">
      <h3 class="card-title">Editar usuario</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        
        <div class="field">
          <%= f.label "Nombre de usuario" %><br/>
          <%= f.text_field :username %> 
        </div>
        
        <div class="field">
          <%= f.label "Imagen de perfil:" %><br />
          <%= f.file_field :avatar %>
        </div>
        <br>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Esperando confirmación para: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label "Contraseña" %> <i>(no completar si no quiere cambiarla)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>   
            <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
          <% end %>
        </div>
        
        <div class="field">
          <%= f.label "Confirmar contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        
        <div class="field">
          <%= f.label "Contraseña actual" %> <i>(es necesaria para confirmar los cambios)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Actualizar", class: "btn btn-primary" %>
          <%= link_to "Volver", :back, class: "btn btn-dark" %>
        </div>
      <% end %>
    </div>

    <div class="col-6">
      <h3 class="card-title">Cancelar mi cuenta</h3>
      <p>¿No está satisfecho con su cuenta? <%= button_to "Eliminar cuenta", registration_path(resource_name), data: { confirm: "¿Está seguro que desea eliminar?" }, method: :delete, class: "btn btn-danger" %></p>
    </div> 

  </div> 

</div>
  



