<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <ul class="nav navbar-nav mr-auto">         <!-- mr-auto ocupa todo el espacio sobrante del conjunto de la vista padre-->
        <li class="nav-item">
            <a class="navbar-text" href=<%= root_path %>>FÚTBOL</a>
            <a class="navbar-text" href=<%= root_path %>>BALONCESTO</a>
            <a class="navbar-text" href=<%= root_path %>>TENIS</a>
            <a class="navbar-text" href=<%= root_path %>>MOTOR</a>
            <a class="navbar-text" href=<%= root_path %>>e-SPORTS</a>
        </li>
    </ul>
    <form class="form-inline" action="#">
        <input class="form-control mr-sm-2" type="text" placeholder="">
        <button class="btn btn-success" type="submit">Buscar</button>
    </form>    
</nav>