<p id="notice"><%= notice %></p>

<h1>Últimas noticias del mundo del deporte</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Título</th>
      <th>Autor</th>
      <th>Contenido</th>
      <th>Creado</th>
      <th>Modificado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.author %></td>
        <td><%= post.input_blog %></td>
        <td><%= post.created_at %></td>
        <td><%= post.updated_at %></td>
        <td><%= link_to 'Mostrar', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Eliminar', post, method: :delete, data: { confirm: '¿Está seguro que desea eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
