<br>
<% unless notice.blank? %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if @category.blank? %>
  <h1>Últimas noticias del mundo del deporte</h1>
<% elsif @category == "futbol"%>  
  <h1>Últimas noticias del mundo del fútbol</h1>  
<% elsif @category == "otros deportes" %>
  <h1>Últimas noticias de <%= @category %></h1>
<% else %>
  <h1>Últimas noticias del mundo del <%= @category %></h1>
<% end %>

<% @posts.each_with_index do |post, ind| %>
  <div class="row">
      
    <%= image_tag(post.picture.url, class: "col-md-5", alt: post.title, height: '250') if ind.even? && post.picture.url %>
    <div class="col-md-7">

      <p class="text-justify"><%= post.input_blog.html_safe %></p>     
      <div class="row bottom-align-text">

        <button type="button" class="col-3 btn btn-link"><%= link_to 'Ver comentarios', post %></button>       
        <p class="col-9 text-right font-italic p_create"><small class="text-muted">
          <% if post.created_at == post.updated_at %>
            Creado por <em><%= link_to post.user.username, user_posts_path(name: post.user.username) %></em>  | <%= post.created_at.strftime("%-d-%m-%Y a las %k:%Mh") %>
          <% else %>
            Modificado por <em><%= link_to post.user.username, user_posts_path(name: post.user.username) %></em> | <%= post.updated_at.strftime("%-d-%m-%Y a las %k:%Mh") %>
          <% end %>
        </small></p>

      </div>  

    </div> 
    <%= image_tag(post.picture.url, class: "col-md-5", alt: post.title, height: '250') if ind.odd? && post.picture.url %>

  </div>
  <br>
<% end %>

<div class="float-right">
  <%= paginate @posts, window: 1 %>
</div>  

<!-- <a class="btn btn-success" <%= link_to 'Nuevo Post', new_post_path %></a> -->
<% if @category == 'futbol' %>
  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-success" %> 
<% elsif @category == 'baloncesto' %>
  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-danger" %> 
<% elsif @category == 'tenis' %>
  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-warning" %> 
<% elsif @category == 'motor' %>
  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-secondary" %> 
<% elsif @category == 'otros deportes' %>
  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-primary" %> 
<% else %>
  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-dark" %>   
<% end %>

<p></p>

