<p id="notice"><%= notice %></p>

<% if @category.blank? %>
  <h1>Últimas noticias del mundo del deporte</h1>
<% elsif @category == "futbol"%>  
  <h1>Últimas noticias del mundo del fútbol</h1>  
<% elsif @category == "otros deportes" %>
  <h1>Últimas noticias de <%= @category %></h1>
<% else %>
  <h1>Últimas noticias del mundo del <%= @category %></h1>
<% end %>

<% @posts.each_with_index do |post, ind| %>
  <div class="row">
      
    <%= image_tag("#{post.id}.jpg", class: "col-md-5", alt: post.title, height: '250') if ind.even? %>
    <div class="col-md-7">

      <p class="text-justify"><%= post.input_blog %></p>     
      <div class="row bottom-align-text">

        <button type="button" class="col-3 btn btn-link"><%= link_to 'Ver comentarios', post %></button>       
        <p class="col-9 text-right font-italic p_create"><small class="text-muted">
          <% if post.created_at == post.updated_at %>
            Creado por <%= post.user.username %> | <%= post.created_at.strftime("%-d-%m-%Y a las %k:%Mh") %>
          <% else %>
            Modificado por <%= post.user.username %> | <%= post.updated_at.strftime("%-d-%m-%Y a las %k:%Mh") %>
          <% end %>
        </small></p>

      </div>  

    </div> 
    <%= image_tag("#{post.id}.jpg", class: "col-md-5", alt: post.title, height: '250') if ind.odd? %>

  </div>
  <br>
<% end %>

<!-- <a class="btn btn-success" <%= link_to 'Nuevo Post', new_post_path %></a> -->
<% if @category == 'futbol' %>
  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-success" %> 
<% elsif @category == 'baloncesto' %>
  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-danger" %> 
<% elsif @category == 'tenis' %>
  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-warning" %> 
<% elsif @category == 'motor' %>
  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-secondary" %> 
<% elsif @category == 'otros deportes' %>
  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-primary" %> 
<% else %>
  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-dark" %>   
<% end %>

<p></p>