<br>
<% unless notice.blank? %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="container-fluid">

  <div class="card">

    <h2 class="card-title"><%= @post.title %></h2>

    <div class="row">
        
      <%= image_tag(@post.picture.url, class: "col-md-5 card-img", alt: @post.title, height: '250') if @post.picture.url %>
      <div class="col-md-7 card-body">

        <p class="card-text text-justify"><%= @post.input_blog %></p>     
        <div class="bottom-align-text-card">    
          <p class="text-right font-italic p_create"><small class="text-muted">
            <% if @post.created_at == @post.updated_at %>
              Creado por <%= link_to @post.user.username, user_posts_path(name: @post.user.username) %> | <%= @post.created_at.strftime("%-d-%m-%Y a las %k:%Mh") %>
            <% else %>
              Modificado por <%= link_to @post.user.username, user_posts_path(name: @post.user.username) %> | <%= @post.updated_at.strftime("%-d-%m-%Y a las %k:%Mh") %>
            <% end %>
          </small></p>
        </div>  

      </div>  

    </div>

  </div>  

  <br>

  <% if current_user.id == @post.user_id %>
    <div class="float-right">
      <% if @post.category == 'futbol' %>
        <%= link_to 'Editar', edit_post_path(@post), class: "btn btn-success" %>
      <% elsif @post.category == 'baloncesto' %>
        <%= link_to 'Editar', edit_post_path(@post), class: "btn btn-danger" %>  
      <% elsif @post.category == 'tenis' %>
        <%= link_to 'Editar', edit_post_path(@post), class: "btn btn-warning" %>
      <% elsif @post.category == 'motor' %>
        <%= link_to 'Editar', edit_post_path(@post), class: "btn btn-secondary" %>  
      <% elsif @post.category == 'otros deportes' %>
        <%= link_to 'Editar', edit_post_path(@post), class: "btn btn-primary" %> 
      <% else %>
        <%= link_to 'Editar', edit_post_path(@post), class: "btn btn-dark" %>
      <% end %>

      <%= link_to 'Eliminar', @post, method: :delete, data: { confirm: '¿Estás segur@?' }, class: "btn btn-danger" %>
    </div>  
  <% end %>

  <br>
  
  <strong>COMENTARIOS</strong> <br>
  <div class="container">
    <% @post.comments.each do |comment| %>
      <div class="row">
        <p class="text-success col-6 p_create">
          <%= image_tag comment.user.avatar.url, size: 30 if comment.user.avatar.url %>
          <strong><%= comment.user.username %></strong> comentó ...
        </p>  
        <p class="text-right font-italic col-6 p_create"><small class="text-muted">
          <%= comment.created_at.strftime("%-d-%m-%Y a las %k:%Mh") %>
        </small></p>
      </div>  
      <p>
        "<%= sanitize comment.input_comment %>"
      </p>
    <% end %>
  </div>  

  <% if user_signed_in? %>  
    <strong>Añade tu comentario:</strong>
    <div id="comments">
      <%= render 'comments/form', comment: @comment%>
    </div>
  <% else %>
    <%= image_tag("caution.png", alt: "AVISO: ", size: 20)  %>
    <strong>Los usuarios no registrados no pueden añadir comentarios.</strong> 
    <br> 
  <% end %>  

  <br>

  <p><%= link_to 'Inicio', posts_path, class: "btn btn-dark"  %></p>

</div>