<% if @category == 'futbol' %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success rounded">
<% elsif @category == 'baloncesto' %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger rounded">
<% elsif @category == 'tenis' %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning rounded">
<% elsif @category == 'motor' %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary rounded">
<% elsif @category == 'otros deportes' %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
<% else %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
<% end %>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarCategories">
        <ul class="navbar-nav">
            <li class="nav-item active categories_navbar">
                <%= link_to "FÚTBOL", posts_path(category: "futbol"), class: "nav-link" %>
            </li>
            <li class="nav-item active categories_navbar">
                <%= link_to "BALONCESTO", posts_path(category: "baloncesto"), class: "nav-link" %>
            </li>
            <li class="nav-item active categories_navbar">
                <%= link_to "TENIS", posts_path(category: "tenis"), class: "nav-link" %>
            </li>
            <li class="nav-item active categories_navbar">
                <%= link_to "MOTOR", posts_path(category: "motor"), class: "nav-link" %>
            </li>
            <li class="nav-item active categories_navbar">
                <%= link_to "OTROS DEPORTES", posts_path(category: "otros deportes"), class: "nav-link" %>
            </li>
        </ul>
    </div>
</nav>